/* Custom scrollbars and styling for Standings Page */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #09090b;
}

::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #eab308;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
}